.slide_img{
    height: 250px;
    width: auto;
}
.slide_img_laptop{
    height: auto;
    width: 100%;
}
.slide-hight{
    height: 360px;
}




/* Media Queary ------------------------------------- */
@media (max-width: 992px) {
    .slide_img{
        height: 200px; 
    }
  }
@media (max-width: 768px) {
    .for_responsive_col{
        display: none;
    }
    .slide_img{
        height: 300px;
        width: auto;
    }
    .slide_img_laptop{
        height: auto;
        width: 100%;
    }
    .slide-hight{
        height: auto;
    }
  }