.payment_check_out_input{
    width: 100%;
    border: 1px solid gainsboro;
    padding: 7px;
}
.payment_check_out_input:focus{
    outline: 0.5px solid rgb(0, 180, 180);
}
.payment_check_out_btn{
    padding: 7px 20px;
    border: none;
}