.order_Component_style{
    position: relative;
}
.increase_cursor_pointer{
    cursor: pointer;
}

.order_remove_button{
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: transparent;
    border: none;
    color: rgb(219, 15, 0);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}