.for_box_shadow{
    box-shadow: -2px -2px 5px #e2e2e2, 3px 3px 5px rgb(94 104 121 / 29%);
}
.shop_policy_icon{
    height: 35px;
    width: 35px;
    color: #ce9a00;
    margin-right: 15px;
    transition: all 0.5s;
}
.col_hover_effect{
    display: flex;
    align-items: center;
    transition: all 0.5s;
}
.col_hover_effect:hover{
    transform: translateY(-4px);
    
}
.col_hover_effect:hover .shop_policy_icon{
    transform:rotateX(12);
    color: #00ccff;
}