.cart_page_image{
    width: auto;
    height: 24rem;
}

/* Responsive CSS ---------------------------------- */
@media (max-width: 500px) {
    .cart_page_image{
        width: 100%;
        height: auto;
    }
  }